
%head
%a{:href => "/"}
    %img{:src => "http://i772.photobucket.com/albums/yy4/felipe_felix1/nossavillalogonew_zpsvvhq6i23.png" , :class => 'logo'}

%body
    %div{:id => "navigation"}
        %a{:href => "/"} Home
        %a{:href => "/users/sign_in"} Login
        %a{:href => "/users/sign_up"} Cadastre-se
