%div{:id => "container"}
  %div{:class => "navcontainer"}
    %nav
      %table
        %tbody
          - @categories.each do |cat|
            %tr
              %td{:class => "btn"}
                %a{:href => services_path(:category => cat.id), :class => "link"}
                  %h3= cat.name
              =#ai passar como parametro a categoria a ser buscada
                
  %div{:class => "servicescontainer"}
    %div{:class => "btn"}
      %a{:href => new_service_path, :class => "link"}
        %h3 Criar novo Serviço
    %br
    - @services.each do |service| 
      %a{:href => service_path(service)}
        %div{:class => "servicecard"}
          %h2{:class => "cardtitle"}= service.title
          %p{:class => "carddescription"}= service.description
          %h4{:class => "cardowner"}= service.user.first_name
                
