%head 
  %h1{:class => "subtitle"} Editar Usuário 
  
%body   
  %form
    First name: 
    %input{:type => "text", :name => "firstname"}
    %br
    Last name:  
    %input{:type => "text", :name => "lastname"}
