.category-container
  .category-table
    // %div.category-header
    //   %h3= @root.name == "root" ? "Categorias" : @root.name.capitalize
    .squares
      - @categories.sort_by{|category| category.name.capitalize}.each_slice(3).with_index do |slice, i|
        .square-row
          - slice.each_with_index do |category, j|
            %div{:class => "hvr-shrink square square#{(i+j)%3+1}"}
              %a{:class => "fill-div", :href => categories_path(:root => category.name)}
                %h2.square-h2= category.name.capitalize
  
      // - @categories.each_slice(3).with_index do |slice, i|
      // - i += 2
      //   .square-row
      //     - slice.each_with_index do |category, j|
      //       %div{:class => "hvr-shrink square square#{(i+j)%3+1}"}
      //         %a{:class => "fill-div", :href => categories_path(:root => category.name)}
      //           %h3= category.name.capitalize 