%thead
  %h1{:class => "title"} Nossa Vila
%tbody

  %div{:id => "container"}
    - @categories.each do |category|
     
      %a{:href => categories_path}
        %div{:class => "categorybox"}
          %h1= category
          %div{:class => "categorytitle"}
            %h2= category
          %div{:class => "infos"}
            %h3 info 1
            %h3 info 2
            %h3 info 3
          %div{:class => "categoryfooter"}
          
