.container
  - @categories.each do |category|
    %a{:href => categories_path(:root => category.name)}
      .categorybox
        %h1= category.name
        .categorytitle
          %h2= category.name
        .infos
        .categoryfooter"
          
