.container
  %a{:href => categories_path}
    .categorybox
      %h1 Serviços
      .categorytitle
        %h2 Serviços
      .infos
  
  %a{:href => new_category_path}      
    .categorybox
      %h1 Estabelecimentos
      .categorytitle
        %h2 Estabelecimentos
      .infos