/* General */
h1,h2,h3,h4,h5,h6{cursor:pointer;}

/* Body */
body{
    font-family: arial, verdana;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #e7e2e2;
}
h1{
    font-size:18px;
    color:#fff;
    text-align:center;
    line-height:3;
}
h2{
   text-align:center;
    font-size:42px;
    color:#fff;
}
h3{
    font-size:14px;
    font-weight:normal;
    text-align:center;
    color:#fff;
    line-height:1;
}

a{
    text-decoration: none;
}
p{
   font-family:verdana;
    color:#fff;    
    font-size:16px;
    font-weight:normal;
    text-align:left;
    margin:auto; 
}
.center{
    margin: auto 5% auto 5%;
       margin: 0 auto;
    max-width:600px;
}
#container{
    width:100%;
    /*padding:5%;*/
    max-width:1000px;
    margin:1% auto 0 auto;
    
}
.categorybox {
    width:20%;
    min-width:220px;
    background: linear-gradient(#555, #444);
    float:left;
    margin-top:.2%;
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}
.categorybox:hover{
    width:5%;
}
.categoryheader{
    width:100%;
    height:60px;
    background-image: -o-linear-gradient(bottom ,#444 , #555);
    background-image: -webkit-linear-gradient(bottom ,#444 , #555);
    background-image: -o-linear-gradient(bottom ,#444 , #555);
    background-image: -moz-linear-gradient(bottom ,#444 , #555);
    background-image: linear-gradient(to bottom , #444 , #555);
    box-shadow:0 2px 12px rgba(0, 0, 0, .5);
}
.categorytitle{
    width:120px;
    height:120px;
    border:50%;
    border:1px solid #ff9547;
    margin:5% auto 0 auto;
    text-align:center;
}

.infos{
    margin-top:10%;
}
.categoryfooter{
    width:100%;
    height:50px;
    margin-top:10%;
    background:#333;
}

.title{
    font-family:arial;
    color:#fff;
    font-size:38px;
    font-weight:normal;
    text-align:center;
    text-transform:uppercase;
    text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
    margin:auto;
}

.subtitle{
    font-family:arial;
    color:#484848; 
    font-size:24px;
    font-weight:normal;
    text-align:left;
    text-transform:uppercase;
    text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
    margin:auto;
}

sub{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.button a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    line-height:3;
}
.buttonmid a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    line-height:3;
}

/* Buttons */
.button{
    /*min-width:40px;*/
    max-width:70px;
    width:20%;
    height:10%;
    margin:0 auto 0 auto;
    background:#ff9547;
    text-align:center;
    cursor:pointer;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.button:hover{
    width:5%;
}

/* services page */

nav{
    float: left;
    background:#ff4e1c;
    
    width:95%;
    min-width:70px;
    max-width:300px;
}
.navcontainer{
    width:30%;
    float:left;
}
.servicescontainer{
    float:left;
    max-width:70%;
}

.servicecard{
    overflow:hidden;
    max-height:20%;
    background: linear-gradient(#555, #444);
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
    margin:auto;
    margin-bottom:3%;
}

.cardtitle{
    /*padding: 3%;*/
   text-align:center;
    font-size:28px;
    color:#fff;
}

.carddescription{
    padding: 3%;
    padding-top: 0%;
    margin-left:2%;
}

 
form label{
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: black;
}