body{
    font-family: arial, verdana;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   /* background: #e7e2e2;*/
    background:#dfe3ef;
    padding: 0;
    margin: 0;
}
h1{
    font-size:18px;
    color:#fff;
    text-align:center;
    line-height:3;
}

h2{
   text-align:center;
    font-size:42px;
    color:#fff;
}
h3{
    font-size:28px;
    font-weight:normal;
    text-align:center;
    color:#fff;
    margin:0;
    /*line-height:1;*/
}

a{
    text-decoration: none;
}
p{
   font-family:Tahoma, Geneva, sans-serif;
    color:#fff;    
    font-size:20px;
    font-weight:normal;
    text-align:left;
    color:#180521;
    margin:auto; 
}
table{
    width:100%;
    border-collapse: collapse;
}

.center{
    margin: auto 5% auto 5%;
    margin: 0 auto;
    max-width:600px;
    
}
#container{
    width:100%;
    /*padding:5%;*/
    max-width:1000px;
    margin:1% auto 0 auto;
    
}
.categorybox {
    width:20%;
    min-width:220px;
    background: linear-gradient(#555, #444);
    float:left;
    margin-top:.2%;
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}
.categorybox:hover{
    width:5%;
}
.categoryheader{
    width:100%;
    height:60px;
    background-image: -o-linear-gradient(bottom ,#444 , #555);
    background-image: -webkit-linear-gradient(bottom ,#444 , #555);
    background-image: -o-linear-gradient(bottom ,#444 , #555);
    background-image: -moz-linear-gradient(bottom ,#444 , #555);
    background-image: linear-gradient(to bottom , #444 , #555);
    box-shadow:0 2px 12px rgba(0, 0, 0, .5);
}
.categorytitle{
    width:120px;
    height:120px;
    border:50%;
    border:1px solid #ff9547;
    margin:5% auto 0 auto;
    text-align:center;
}
.categorycheckbox{
    float:right;
}
.categorylabel{
    float:right;
    width:25%;
}
.infos{
    margin-top:10%;
}
.categoryfooter{
    width:100%;
    height:50px;
    margin-top:10%;
    background:#333;
}

.title{
    font-family:arial;
    color:#fff;
    font-size:38px;
    font-weight:normal;
    text-align:center;
    text-transform:uppercase;
    text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
    margin:auto;
}

.subtitle{
    font-family:arial;
    color:#484848; 
    font-size:24px;
    font-weight:normal;
    text-align:center;
    text-transform:uppercase;
    text-shadow: 1px 2px 5px rgba(0,0,5,0.2);
    margin:auto;
}

sub{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.button a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    line-height:3;
}

.button{
    /*min-width:40px;*/
    max-width:70px;
    width:100%;
    height:10%;
    margin:0 auto 0 auto;
    background:#5E72FF;
    text-align:center;
    cursor:pointer;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
}
.button:hover{
    width:5%;
}

/* services page */

nav{
    float: left;
    background:#8B94A8;
    
    width:95%;
    min-width:40px;
    max-width:300px;
}
.navcontainer{
    width:30%;
    float:left;
}
.link{
    width:100%;
    margin:0;
    height:100%;
}
.servicescontainer{
    float:left;
    max-width:70%;
    min-width:70%;
}

.servicecard{
    overflow:hidden;
    max-height:20%;
    background:#F9F9F9;
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
    margin:auto;
    margin-bottom:3%;
}

.cardtitle{
    /*padding: 3%;*/
   text-align:center;
    font-size:28px;
    font-family:roboto;
    color:#180521;
}

.carddescription{
    padding: 3%;
    padding-top: 0%;
    margin-left:2%;
}

.cardowner{
    text-align: right;
    color:#180521;
    margin:0;
}

.fieldnewleft{
    margin:0;
    padding:0;
    /* display:inline; */
    /* breaks inline forms */
    float:left;
    width:70%;
}
.fieldnew{
    margin:0;
    padding:0;
    display:inline;
    /* breaks inline forms */
    float:left;
    width:100%;
}

.submitlink{
    float:right;
}
.logo{
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
}
 
form label{
    line-height: 28px;
    font-family:arial;
    font-weight:bold;
    font-size:14px;
    color: #333333;
    margin:0;
    padding:0;
    /* width:25%; */
    /* display:inline; */
}

.formleft{
    width:26%;
    float:left;
    margin-bottom:2%;
}
.inleft{
    text-align:right;
    float:right;
    width:100%;
}
.formright{
    width:73%;
    float:right;
    margin-right:2px;
}
.inright{
    float:left;
    margin:2% 0 3% 0;
}
.card{
    overflow:hidden;
    /* max-height:500px; */
    max-width:500px;
    background:#F9F9F9;
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
    border:0.5px solid black;
    margin:auto;
    margin-bottom:3%;
    padding:2% 4% 1% 2%;
}

.users_page .field {
    /* display:inline; */
    /* up: breaks the line button */
    margin: 0;
    padding: 0;
}
.users_page p {
    display:inline;
}
#user_last_name, #user_first_name, #user_email, #user_cep, #user_cpf, #user_password, #user_password_confirmation, #user_address{
    /* display:inline; */
    /* display:block; */
    /* float:right; */
    margin-bottom:8px;
    width:100%;
}
label.fieldpass:before, .fieldpass:before{
    content:"*";
    color:purple;
}
label.fieldcurrpass:before, .fieldcurrpass:before{
    content:"*";
    color:red;
}
em, i{
    font-size:10px;
    margin-top:-8px;
}

.users_page .btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  padding: 5px 10px 5px 10px;
  border:none;
  text-decoration: none;
}

.users_page .btn:hover {
  background: #5e5e5e;
  text-decoration: none;
}

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #686A6F;
  padding: 10px 20px 10px 20px;
  border: solid #6C6F75 2px;
  text-decoration: none;
}

.btn:hover {
  background: #A7ACB5;
  text-decoration: none;
}

ul.navigation-list {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.navigation-list li {
  display: inline;  
}

#navigation {
    position:fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    -webkit-box-shadow: 0 0 8px 0 #000000;
    -moz-box-shadow: 0 0 8px 0 #000000;
    box-shadow: 0 0 8px 0 #000000;
    background-color: rgba(1, 1, 1, 0.8);
    color:rgba(1, 1, 1, 0.8);
}

#navigation a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
}

#navigation a:hover{
    color: grey;
}

/* FLASH PARTIALS */
.login-needed-flash{
	width:100%;
	margin: 5px 0 5px 0;
}

.login-needed-flash-container{
	max-width:400px;
	background:#F9F9F9;
	padding: 5px;
	margin: auto;
	border:0.5px solid black;
	-webkit-box-box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
	-moz-box-box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
	box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}

.flash-red, .flash-green{
	font-size:20px;
	color:#484848;	
	margin-bottom:10px;
}

.flash-red::before{
	content:"!";
	color:#FF1000;						
	font-size:50px;
	margin-right:10px;
}

.flash-green::before{
	content:"v";
	color:#00FF3D;						
	font-size:50px;
	margin-right:10px;
}

.consimage{
  float:left; 
  margin-left:40px;
}
