#category-container{
    width:100%;
    /*padding:5%;*/
    margin:1% auto 0 auto;
}

.category-header {
  display:table-row;
  background-color:#9faeb8;
  line-height:3em;
}
.category-table{
  display: table;
  /* why 75% width? */
  width: 75%;
  height: 25%;
  /* max-width:1080px; */
  max-width:780px;
  margin:auto;
  border-spacing:10px;
  table-layout:fixed;
}

.squares {
  display: table;
  /*width: 75%;*/
  /*height: 25%;*/
  /* no max-width:1080px; */
  /*max-width:780px;*/
  /*margin:auto;*/
  table-layout:fixed;
}
.square-row{
  display:table-row;
}
.square {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 10em;
  width:25%;
  
}
h2.square-h2{
    text-decoration:none;
    color:#fff;
    /*line-height:1;*/
}

.square1 {
  /*background: #bd4932;*/
  background: #DA7878;
}
.square1:hover{
    background:#A74545;
}

.square2 {
  /*background: #105b63;*/
    background: #91DA78;
}
.square2:hover{
  background:#5EA745;
}

.square3 {
  /*background: #ffd34e;*/
  background: #788ADA;
}
.square3:hover{
 background:#4557A7;
}

@media (max-width: 420px) {
  .square {
    display: block;
    width: 100%;
  }
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
