.companiescontainer{
    float:left;
    max-width:70%;
    min-width:70%;
}

.companycard{
    overflow:hidden; 
    max-height:20%; 
    background:#F9F9F9;
    box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
    margin:auto;
    margin-bottom:3%;
}

.companies-box-title {
    display:table-cell;
    width:65%;
    background:#F5F5F5;
    /*padding-top:13px;*/
    /*padding-bottom:13px;*/
    margin:0;
    padding:13px;
    
    border-color:#D8D8D8;
    border-style:solid none none solid;
    border-width:1px;
}
.companies-box-title a:hover{
    color:grey;
}

label[for=company_category]{
    font-weight:normal;
}