
.login-needed-flash{
	width:100%;
	margin: 5px 0 5px 0;
}

.login-needed-flash-container{
	max-width:400px;
	background:#F9F9F9;
	padding: 5px;
	margin: auto;
	border:0.5px solid black;
	-webkit-box-box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
	-moz-box-box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
	box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}

.flash-red, .flash-green, .flash-null{
	font-size:20px;
	color:#484848;	
	margin-bottom:10px;
}

.flash-red::before{
	content:"!";
	color:#FF1000;						
	font-size:50px;
	margin-right:10px;
}

.flash-green::before{
	content:"v";
	color:#00FF3D;						
	font-size:50px;
	margin-right:10px;
}

.consimage{
  float:left; 
  margin-left:40px;
}