#services_container{
    width:100%;
    margin:1% auto 0 auto;
}

#services_table{
  display: table;
  width: 75%;
  height: 25%;
  /*max-width:1080px;*/
  max-width:980px;
  margin:auto;
  border-spacing:20px 0px; 
  table-layout:fixed; 
}

#services_filter_nav{
    border-spacing:0 0;
    width:28%;
    display:table-cell;
}
    
#services_tab{
    border-spacing:0 0;
    width:72%;
    /*width:75%;*/
    display:table-cell;
}

/***** nav-box code *****/

.nav-box {
    display:table;
    width:100%;
    /*border-spacing:0 0;*/
    border-style:solid;
    border-width:1px;
    border-color:#D8D8D8;
}
h4.nav-box-h4{
    color:#333;
    font-weight:bold;
    text-align:center;
    
    /*descomente a linha abaixo para o outro estilo*/
    /*margin-left:3.25px;*/
}

.nav-box-header {
    background:#F5F5F5;
    padding:13px;
    border-color:#D8D8D8;
    border-style:none none solid none;
    border-width:1px;
}
h3.box-header-h3 {
    color:#333;
    font-weight:bold;
}


.nav-box-body {
    /*padding:13px;*/
    background:#fff;
}

.nav-refiner-header {
    /*comente todas as linhas abaixo para o outro estilo*/
    padding:13px;
    background:#FAFAFA;
    border-color:#D8D8D8;
    border-style:none none solid none;
    border-width:1px;
}

.nav-refiner-sublink {
    margin:0;
    margin-left:15px;
}

.nav-refiner-link{
    display:block;
    font-weight:normal;
    margin:0;
    /*descomente a linha abaixo para o outro estilo*/
    /*border-style:none none solid none;*/
    /*border-width:1px;*/
    /*border-color:#D8D8D8;*/
}

label[for=service_category]{
    font-weight:normal;
}

/* clean gray
*******************************************************************************/
.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100%; 
    
}
.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
    .clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
}

/*** services-tab-code ***/

.services-box {
    display:table;
    width:100%;
    /*border-spacing:0 0;*/
    border-style:solid;
    border-width:1px;
    border-color:#D8D8D8;
}
h4.services-box-h4{
    color:#333;
    font-weight:bold;
    text-align:center;
}

.services-box-header {
    display:table;
    padding:0;
    margin:0;
    border-color:#D8D8D8;
    border-style:none none solid none;
    border-width:1px;
    width:100%;
}
.services-box-header-row{
    width:100%;
    display:table-row;
}
.services-box-title {
    display:table-cell;
    width:75%;
    background:#F5F5F5;
    /*padding-top:13px;*/
    /*padding-bottom:13px;*/
    margin:0;
    padding:13px;
    
    border-color:#D8D8D8;
    border-style:none solid none none;
    border-width:1px;
}
h3.services-box-title-h3 {
    color:#333;
    font-weight:bold;
    text-align:center;
}
.services-box-button {
    margin:0;
    display:table-cell;
    text-decoration:none;
    text-align:center;
}

.services-box-body {
    /*padding:13px;*/
    background:#fff;
}

/* Dark Button CSS */
.services-button {
   /*padding: 10px 20px 10px 20px;*/
   padding:13px;
   font-size: 14px;
   background: linear-gradient(#464646,#2a2a2a);
   box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
   /*font-family: helvetica neue light, helvetica neue, helvetica, sans-serif;*/
   color:white;
   /*font-weight: bold;*/
   text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
   border: 0px;
}

.services-button:hover {
   cursor: pointer;
   background: linear-gradient(#4a4a4a,#2e2e2e);
}

.services-button:active {
    background:#5e5e5e;
   /*background: rgba(0, 0, 0, 0.2); */
   box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 1px 0px rgba(255, 255, 255, 0.1);
}