.searchbtn {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  /*background: #686A6F;*/
  padding: 10px 20px 10px 20px;
  /*border: solid #6C6F75 2px;*/
  text-decoration: none;
}
.btnnav {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #686A6F; 
  padding: 10px 20px 10px 20px;
  border: solid #6C6F75 2px;
  text-decoration: none;
}

.btnnav:hover {
  background: #A7ACB5;
  text-decoration: none;
}

.btnnavchild.show{
  background: #9DA6BB;
  display:block;
}

.triangle{
  float:right;
    width: 0; 
    height: 0;
}
.expandible{
  float:right;
}
div.collapse>div.triangle{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}
div.expand>div.triangle{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.map{
    width: 200px;
    height: 200px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}