.btnnav {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #686A6F; 
  padding: 10px 20px 10px 20px;
  border: solid #6C6F75 2px;
  text-decoration: none;
}

.btnnav:hover {
  background: #A7ACB5;
  text-decoration: none;
}

.btnnavchild.show{
  background: #9DA6BB;
  display:block;
}