.users_page .field {
    /* display:inline; */
    /* up: breaks the line button */
    margin: 0;
    padding: 0;
}
.users_page p {
    display:inline;
}

#user_last_name, #user_first_name, #user_email, #user_cep, #user_cpf, #user_password, #user_password_confirmation, #user_address{
    /* display:inline; */
    /* display:block; */
    /* float:right; */
    margin-bottom:8px;
    width:100%;
}

label.fieldpass:before, .fieldpass:before{
    content:"*";
    color:purple;
}

label.fieldcurrpass:before, .fieldcurrpass:before{
    content:"*";
    color:red;
}

em, i{
    font-size:10px;
    margin-top:-8px;
}

.users_page .btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  padding: 5px 10px 5px 10px;
  border:none;
  text-decoration: none;
}

.users_page .btn:hover {
  background: #5e5e5e;
  text-decoration: none;
}

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #686A6F;
  padding: 10px 20px 10px 20px;
  border: solid #6C6F75 2px;
  text-decoration: none;
}

.btn:hover {
  background: #A7ACB5;
  text-decoration: none;
}

.barcontainer{
    width:30%;
    float:left;
}

.profilebar{
    padding:15px;
    /*float: left;*/
    /*background:#8B94A8;    */
    /*width:95%;*/
    /*min-width:40px;*/
    /*max-width:300px;*/
}

.profile-line{
    display:table-row;
    width:100%;
    line-height:2em;
    /*height:40px;*/
}

.profilecell-left, .profilecell-right{
    display:table-cell;
    /*padding:10px 0 10px 0;*/
    /*width:50%;*/
    /*float: left;*/
    height:20px;
}

.profilecell-left{
    font-weight:bold;
}

/*div.profilecell-left>h2{*/
/*    margin:auto;*/
/*    text-align:right;*/
/*    font-size: 12px;*/
/*    font-weight: 100;*/
/*}*/

.profilecell-right{
    width:100%;
    text-align:right;
}

/*div.profilecell-right>h2{*/
/*    text-align:left;*/
/*    font-size: 15px;*/
/*    font-weight:bold;*/
/*    margin-left:10px;*/
/*}*/

.add-info-header{
    /*height:40px;*/
}

.add-info{
    float: left;
    background:#8B94A8;    
    /*width:95%;*/
    /*min-width:40px;*/
    /*max-width:300px;*/
}

.add-info-box{
    /*display: none;*/
    padding:15px;
}

.add-info-box input[type="text"] {
    max-width: 125px;
}

.green-button{
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 12px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  display:inline-block;
  min-width:100px;
  }
  .green-button:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  .green-button:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  }
