.users_page .field {
    /* display:inline; */
    /* up: breaks the line button */
    margin: 0;
    padding: 0;
}
.users_page p {
    display:inline;
}

#user_last_name, #user_first_name, #user_email, #user_cep, #user_cpf, #user_password, #user_password_confirmation, #user_address{
    /* display:inline; */
    /* display:block; */
    /* float:right; */
    margin-bottom:8px;
    width:100%;
}

label.fieldpass:before, .fieldpass:before{
    content:"*";
    color:purple;
}

label.fieldcurrpass:before, .fieldcurrpass:before{
    content:"*";
    color:red;
}

em, i{
    font-size:10px;
    margin-top:-8px;
}

.users_page .btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  padding: 5px 10px 5px 10px;
  border:none;
  text-decoration: none;
}

.users_page .btn:hover {
  background: #5e5e5e;
  text-decoration: none;
}

.btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #686A6F;
  padding: 10px 20px 10px 20px;
  border: solid #6C6F75 2px;
  text-decoration: none;
}

.btn:hover {
  background: #A7ACB5;
  text-decoration: none;
}

.barcontainer{
    width:30%;
    float:left;
}

.profilebar{
    float: left;
    background:#8B94A8;    
    width:95%;
    min-width:40px;
    max-width:300px;
}

.profile-line{
    width:100%;
    height:40px;
}

.profilecell-left, .profilecell-right{
    padding:10px 0 10px 0;
    width:50%;
    float: left;
    height:20px;
}

.profilecell-left{
    width: 32%;
}

div.profilecell-left>h2{
    margin:auto;
    text-align:right;
    font-size: 12px;
    font-weight: 100;
}

.profilecell-right{

}

div.profilecell-right>h2{
    text-align:left;
    font-size: 15px;
    font-weight:bold;
    margin-left:10px;
}

.add-info-header{
    height:40px;
}

.add-info{
    float: left;
    background:#8B94A8;    
    width:95%;
    min-width:40px;
    max-width:300px;
}

.add-info-box{
    display: none;
}